<% layout("/layouts/boilerplate") %>  
  <body class="starting">
    <div class="getstart">
      <diV class="head">
        <h1 class="title">Built-Flow</h1>
      </diV>
      <br />
      <h3>Construction Managment Made Simple</h3>
      <br />
      <div class="lst">
        <ul>
        <li><h5>Inventory</h5></li>
        <li><h5>Payments</h5></li>
        <li><h5>Projects</h5></li>
        <li><h5>Invoice System</h5></li>
      </ul>
      </div>
      <br />
      <form action="/dashboard" method="GET">
        <button type="submit" class="btn coffee-btn">
          <div>
            &#127959; <b>GET STARTED</b>
          </div>
          <a>with Built-Flow</a>
        </button>
      </form> 
    </div>

    <div class="Quote">
      <h1><b>WE DON'T JUST BUILD A STRUCTURES, WE BUILD</b></h1>
      <h1 class="h1"><b>TRUST.</b></h1>
    </div>

    <div class="Cards">
      <div class="card mini-card" style="width: 18rem;">
        <img src="https://img.freepik.com/free-photo/civil-engineer-construction-worker-manager-holding-digital-tablet-blueprints-talking-planing-about-construction-site-cooperation-teamwork-concept_640221-156.jpg" class="card-img-top" alt="image">
        <br />
        <div class="card-body">
          <h5 class="card-title"><b>Construction Project Management</b></h5>
          <br />
          <p class="card-text">Consistency ensures success. We see projects through and proactively develop solutions to exceed expectations.</p>
        </div>
      </div>
      <div class="card mini-card" style="width: 18rem;">
        <img src="https://azurodigital.com/wp-content/uploads/Construction-Project.jpg" class="card-img-top" alt="image">
        <br />
        <div class="card-body">
          <h5 class="card-title"><b>Designing spaces that inspire</b></h5>
          <br />
          <p class="card-text">We combine creativity and engineering to create modern, functional, and beautiful structures.</p>
        </div>
      </div>
      <div class="card mini-card" style="width: 18rem;">
        <img src="https://work-fit.com/wp-content/uploads/2023/02/647888ca92d03e3fca3f2453_construction-engineers-discussion-with-architects-2021-09-03-18-53-30-utc.jpg" class="card-img-top" alt="image">
        <br />
        <div class="card-body">
          <h5 class="card-title"><b>Strong foundations for better future</b></h5>
          <br />
          <p class="card-text">We focus on safety, strength, and sustainability in every structure we build</p>
        </div>
      </div>
    </div>
  </body>