<% layout("/layouts/boilerplate") %>
<ul>
    <h1>
        Improving the lives of everyone in construction
    </h1>
    <br /><br /><br />
    <li>
        <h4>
            <b>Addressing the labour shortage</b>
        </h4>
        <br />
        <h5>
            Expanding opportunities for career growth, education and mentorship to attract and retain the world’s best talent
        </h5>
        <br /><br />
    </li>
    <li>
        <h4>
            <b>Improving business practices</b>
        </h4>
        <br />
        <h5>
            Empowering construction to cultivate a healthy culture, create profitable companies and build a resilient industry.
        </h5>
        <br /><br />
    </li>
    <li>
       <h4>
            <b>Tackling the mental health crisis</b>
        </h4>
        <br />
        <h5>
            Raising awareness, reducing stigma and bringing new resources to improve mental health on the job.
        </h5>
        <br /><br /> 
    </li>
</ul>