<% layout("/layouts/boilerplate") %>
<body>
  <h1>Place Order</h1>
  <div class="row mt-5 place_order">
      <div class="col-8 offset-3">
        <h3>Name: &nbsp;&nbsp;&nbsp;&nbsp;<%= material.name %></h3>
      </div>
      <br />
      <div class="col-8 offset-3">
        <h4>Suppler: &nbsp;&nbsp;&nbsp;&nbsp;<%= material.supplier %></h4>
      </div>
      <br />
      <div class="col-8 offset-3">
        <h4>Price: &nbsp;&nbsp;&nbsp;&nbsp;<%= material.price %></h4>
      </div>
      <form method="GET" action="/inventory/order">
        <button class="btn btn-dark offset-5 ">Order</button>
      </form>
    </div>
</body>